
@import "navBar.scss";
@import "blogForm.scss";
@import "card.scss";

@import 'utilities/variables';

@font-face{
  font-family: 'lemonFont';
  src: url('../fonts/DK_Lemon_Yellow_Sun.otf')
}

body{
  background: white;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'lemonFont';
}

section{
  margin-top: 10%;
}