@import 'utilities/variables';


.listOfCards{
  border: 1px green dashed;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.blogCard{
  border: 1px solid red;
  background: $yellow;
  width: 28%;
  margin: 1%;
}

