@import 'utilities/variables';

nav {
  width: 100%;
  background:green;

  .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    font-size: 1.2em;
    height: 65px;

    .navLeft{
      width: 75%;
      display: flex;
      
      .logo{
        width: 15%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-right: 3%;

        img{
          width: 100%; 
          height: auto;
        }
      }

      .navLinks {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-right: 3%;
        padding: 0;
        color: $pale;

        li {
          text-decoration: none;
          list-style: none;
          margin: 0%;
        }
      }/*.navLinks*/
    }/*.navLeft*/
    

    .searchInput{
      width: 20%;
      border: 1px solid grey;

      input {
        width: 100%;
        font-size: 20px;
      }
    }/*.searchinput */
  }/*.main */
}/*.nav */








